# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log

# Temporary files
*.tmp
.cache/
plugins/InkMon/inkmon-server/node_modules
plugins/InkMon/inkmon-server/build
plugins/InkMon/inkmon-server/package-lock.json
