# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log

# Temporary files
*.tmp
.cache/
# inkmon-server
servers/inkmon-server/node_modules
servers/inkmon-server/build
servers/inkmon-server/package-lock.json
servers/inkmon-server/data
